.randomizer {
  position: relative;

  &__heading {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 80px;

  }

  &__title {
    font-weight: bold;
    font-size: 32px;
  }

  &__underTitle {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.content {
  width: 680px;
  padding: 40px 40px 45px 50px;
  background: #F8F8F8;
  border-radius: 20px;
  margin-bottom: 20px;

  &__addToFavorite-wrapper {
    text-align: right;
  }

  &__addToFavorite {
    border: none;
    background: #F8F8F8;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__item-container {
    display: flex;
  }

  &__textIcon-wrapper {
    position: relative;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #fff;
    border-radius: 50%;
  }

  &__textIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__joke {
    width: 100%;
  }
}

.joke {
  &__id-wrapper {
    margin-bottom: 10px;
  }

  &__id-title,
  &__id-link,
  &__date {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
  }

  &__id-link {
    color: #8EA7FF;
  }

  &__value {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  &__footer{
    display: flex;
    justify-content: space-between;
  }

  &__categories {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #fff;
    border-radius: 6px;
    padding: 6px 20px;
  }
}

@media (max-width: 1024px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .randomizer__heading {
    max-width: 150px;
  }
}
