.search {
  width: 680px;
  padding: 40px 40px 45px 50px;
  background: #F8F8F8;
  border-radius: 20px;
  margin-bottom: 20px;

  &__addToFavorite-wrapper {
    text-align: right;
  }

  &__addToFavorite {
    border: none;
    background: #F8F8F8;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__item-container {
    display: flex;
  }

  &__textIcon-wrapper {
    position: relative;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #fff;
    border-radius: 50%;
  }

  &__textIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
