* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;

  &__content {
    background: #fff;
    padding: 40px 140px 0 140px;
  }

  &__favorite {
    background: #f8f8f8;
  }

  &__burger {
    position: absolute;
    top: 30px;
    right: 10px;
  }
}

.burger {
  display: flex;
  width: 130px;

  &__outter {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    padding: 10px 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #333333;
    border-radius: 50%;
    cursor: pointer;
  }

  &__inner {
    //position: absolute;
    width: 14px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ABABAB;
    margin-left: 10px;
  }
}

@media (max-width: 1024px) {
  .app-wrapper {
    grid-template-columns: 1fr;
  }

  .app-wrapper__content {
    padding: 40px 40px 0 40px;
  }

  .app-wrapper__favorite.close {
    display: none;
    background-color: hotpink;
  }
}

@media (min-width: 1024px) {
  .app-wrapper__burger {
    display: none;
  }
}
